<div class="container-fluid">
    <div class="row align-content-center">
        <div class="col-md-2 burger-wrap d-block d-lg-none">
            <div id="burger-menu" class="">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="col d-none d-lg-block">
            <nav>
                <ul>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Ipsum</a></li>
                    <li><a href="#">Dolor</a></li>
                </ul>
            </nav>
        </div>
        <div class="col text-center">
            <a href="/" class="logo">
                <img src="/assets/broken.jpg" alt="lorem">
            </a>
        </div>
        <div class="col col-md-2 col-lg d-none d-md-block d-lg-flex">
            <nav class="d-none d-lg-block">
                <ul>
                    <li><a href="#">sit</a></li>
                    <li><a href="#">amet</a></li>
                </ul>
            </nav>
            <div class="social">
                <div class="social-icon mr-15">
                    <a href="#" id="facebook">FB</a>
                </div>
                <div class="social-icon">
                    <a href="#" id="instagram">IN</a>
                </div>
            </div>
        </div>
    </div>

    <div class="header-menu js-menu">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        <h2>
                            Lorem
                        </h2>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h2>
                            Ipsum
                        </h2>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h2>
                            Dolor
                        </h2>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h2>
                            Sit
                        </h2>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h2>
                            Amet
                        </h2>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="social">
            <div class="social-icon mr-15">
                <a href="#" id="facebook">FB</a>
            </div>
            <div class="social-icon">
                <a href="#" id="instagram">IN</a>
            </div>
        </div>
    </div>
</div>