@font-face {
  font-family: 'Scto Grotesk A';
  src: url('./fonts/SctoGroteskA-Regular.eot');
  src: url('./fonts/SctoGroteskA-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/SctoGroteskA-Regular.woff2') format('woff2'),
      url('./fonts/SctoGroteskA-Regular.woff') format('woff'),
      url('./fonts/SctoGroteskA-Regular.ttf') format('truetype'),
      url('./fonts/SctoGroteskA-Regular.svg#SctoGroteskA-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
